<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        {% if title %}
            <title>{{ title }} - MiniTweet</title>
        {% else %}
            <title>MiniTweet</title>
        {% endif %}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main.home') }}">
              <span><i class="fa fa-home"></i> Minitweet</span>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('posts.publish') }}">
                    <span><i class="fa fa-plus"></i> Publish</span>
                </a>
            </li>

            <li>
                <a href="{{ url_for('users.discover_users') }}">
                    <span><i class="fa fa-users"></i> Discover new users</span>
                </a>
            </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
                  <li>
                      <a href="{{ url_for('posts.user_profile_posts', username=current_user.name) }}">
                          <img class="gravatar-img" src="{{ current_user.email | gravatar(size=20) }}" alt="user avatar">
                          <span>{{ current_user.name }}</span>
                      </a>
                  </li>
                  {% if not current_user.confirmed%}
                      <li>
                          <a href="{{ url_for('auth.unconfirmed') }}">
                              <span><i class="fa fa-envelope"></i> Confirm Email</span>
                          </a>
                      </li>
                  {% endif %}
                  <li>
                      <a href="{{ url_for('auth.logout') }}">
                          <span><i class="fa fa-sign-out"></i> Logout</span>
                      </a>
                  </li>
              {% else %}
                  <li>
                      <a href="{{ url_for('auth.signup') }}">
                          <span><i class="fa fa-user-plus"></i> Sign up</span>
                      </a>
                  </li>

                  <li>
                      <a href="{{ url_for('auth.login') }}">
                          <span><i class="fa fa-sign-in"></i> Login</span>
                      </a>
                  </li>
              {% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

        <noscript>
            <div class="container">
                <div class="alert alert-primary text-center static-alert">
                    <span class="msg">
                        Please Enable Javascript for better experience
                    </span>
                </div>
            </div>
        </noscript>

        <!-- flashed messages -->
        {% for category, msg in get_flashed_messages(with_categories=True) %}
            <div class="container">
                <div class="message flashed-alert">
                    <div style="padding: 5px;">
                        <div class="alert alert-{{ category }} text-center">
                            <span class="msg">{{ msg }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- child file -->
        {% block content %}
        {% endblock %}

        <!-- javascript files -->
        <script type="text/javascript">
            var root = {{ request.script_root | tojson | safe }}
        </script>
        <script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
