{% extends "base.html" %}


{% block content %}

<div class="container">
    <div class="user_info text-center col-xs-12 col-md-8 col-md-offset-2" data-username="{{ user.name }}">
        <div class="gravatar">
            <img src="{{ user.email | gravatar(size=100) }}" class="gravatar-img" alt="user avatar">
        </div>
        <div class="username"><h3>{{ user.name }}</h3></div>
        {% if user.bio %}
            <div class="user_bio"><p>{{ user.bio }}<p></div>
        {% endif %}
        {% if user.website %}
            <div class="user_website">
                <a href="{{ user.website }}" rel="nofollow">{{ user.website }}</a>
            </div>
        {% endif %}
        {% if current_user.is_authenticated%}
            {% if user_profile %}
                <a href="{{ url_for('users.profile_settings', username=user.name) }}">
                    change your profile settings
                </a>
            {% else %}
                {% if current_user.is_following(user) %}
                    <a class="btn btn-danger follow-btn">
                        unfollow
                    </a>
                {% else %}
                    <a class="btn btn-success follow-btn">
                        Follow
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

    {% block user_content %}{% endblock %}
</div>
{% endblock %}
