<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
            <title>{{ title }} - MiniTweet</title>
        {% else %}
            <title>MiniTweet</title>
        {% endif %}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    </head>
    <body>
        <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}"><span>Minitweet<span></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('publish') }}">
                    <span><i class="fa fa-share"></i> Publish</span>
                </a>
            </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('user_profile', username=current_user.name) }}">
                    <img class="gravatar-img" src="{{ current_user.email | gravatar(size=20) }}">
                    <span>{{ current_user.name }}</span>
                </a>
            </li>
              <li><a href="{{ url_for('logout') }}"><span>Logout</span></a></li>
            {% else %}
              <li><a href="{{ url_for('signup') }}"><span>Sign up</span></a></li>
              <li><a href="{{ url_for('login') }}"><span>Login</span></a></li>
            {% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

        <!-- flashed messages -->
        {% for category, msg in get_flashed_messages(with_categories=True) %}
            <div class="container">
                <div class="alert alert-{{ category }} text-center">
                    <a class="close" title="Close" href="#" data-dismiss="alert">×</a>
                    <span class="msg">{{ msg }}</span>
                </div>
            </div>
        {% endfor %}


        <!-- child file -->
        {% block content %}
        {% endblock %}

        <!-- javascript files -->
        <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
