{% extends "base.html" %}


{% block content %}
<div class="container">
    {% if not(current_user.is_authenticated) %}
        <div class="alert alert-success text-center static-alert">
            <span class="msg">
                welcome to minitweet a twitter clone with minimal features
                <a href="{{ url_for('signup') }}"><span class="alert-link">signup now!</span></a>
            </span>
        </div>
    {% endif %}

    {% if request.path in ["/", '/posts', '/posts/newest'] %}
        {% set newest = 'active' %}
    {% elif request.path == "/posts/discover" %}
        {% set discover = 'active' %}
    {% elif request.path == "/posts/top" %}
        {% set top = 'active' %}
    {% endif %}


    <ul class="nav nav-tabs col-xs-12 col-md-8 col-md-offset-2">
        <li role="presentation" class='{{ newest }}'>
            <a href="{{ url_for('home') }}">
                <i class="fa fa-clock-o"></i> newest
            </a>
        </li>

        <li role="presentation" class="{{ top }}">
            <a href="{{ url_for('top') }}">
                <i class="fa fa-heart"></i> Top
            </a>
        </li>

        <li role="presentation" class="{{ discover }}">
            <a href="{{ url_for('discover') }}">
                <i class="fa fa-binoculars"></i> discover
            </a>
        </li>

    </ul>
        {% include "post.html" %}
</div>
{% endblock %}
