{% extends "base.html" %}


{% block content %}
<div class="container">
    {% if not(current_user.is_authenticated) %}
        <div class="alert alert-success text-center static-alert">
            <span class="msg">
                welcome to minitweet a twitter clone with minimal features
                <a href="{{ url_for('signup') }}"><span class="alert-link">signup now!</span></a>
            </span>
        </div>
    {% endif %}

    {% if request.path in ["/", '/posts', '/posts/newest'] %}
        {% set newest = 'active' %}
    {% elif request.path == "/posts/discover" %}
        {% set discover = 'active' %}
    {% endif %}


    <ul class="nav nav-tabs col-xs-12 col-md-8 col-md-offset-2">
        <li role="presentation" class='{{ newest }}'>
            <a href="{{ url_for('home') }}">
                <i class="fa fa-clock-o"></i> newest
            </a>
        </li>
        <li role="presentation" class="{{ discover }}">

            <a href="{{ url_for('discover') }}">
                <i class="fa fa-binoculars"></i> discover
            </a>
        </li>
    </ul>

    {% if posts.all()|length == 0 %}
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h3>
                nothing to show here you may want to
                <a href="{{ url_for('discover') }}">Discover new posts</a>
                and follow other people to view their posts here
            </h3>
        </div>
    {% else %}
        {% include "post.html" %}
    {% endif %}
</div>
{% endblock %}
