{% extends "base.html" %}

{% block content %}

<div class="container">
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="username_field">
            {{ form.username(class_="col-xs-12 col-md-4 col-md-offset-4 string-field", placeholder="username") }}

            <span class="error">
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                     <p class="col-xs-12 col-md-4 col-md-offset-4">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </span>
        </div>

        <div class="password_field">
            {{ form.password(class_="col-xs-12 col-md-4 col-md-offset-4 string-field", placeholder="password") }}

            <span class="error">
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                      <p class="col-xs-12 col-md-4 col-md-offset-4">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </span>
        </div>

        <input type="submit" name="submit" value="login" class="btn btn-primary col-xs-12 col-md-4 col-md-offset-4 submit">

        <div class="remember_me col-xs-12 col-md-4 col-md-offset-4 text-center">
            <span style="display:block">remember me</span>
            {{ form.remember_me }}
        </div>
    </form>

    <div class="col-xs-12 col-md-4 col-md-offset-4" style="margin-top:20px">
        Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a>
    </div>
</div>

{% endblock %}
