<div class="posts">
    {% for post in posts %}
        <div class="post text-center col-xs-12 col-md-8 col-md-offset-2" id="{{ post.id }}">
            <div class="post-title">
                <h1>{{ post.title }}</h1>
            </div>

            <div class="post-author">
                <a href="/u/{{ post.author.name }}">
                    <img class="gravatar-img" src="{{ post.author.email | gravatar(size='40') }}" alt="user avatar">
                    <h5 style="display:inline-block">{{ post.author.name }}</h5>
                </a>
            </div>

            <div class="post-body col-xs-12">
                <!-- support old posts -->
                {% if post.id <= 12 %}
                    {{ post.body | markdown }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="like">
                {% if current_user.is_authenticated and current_user.is_liking(post) %}
                    <i class="fa fa-3x fa-heart heart"></i>
                {% else %}
                    <i class="fa fa-2x fa-heart-o heart"></i>
                {% endif %}
                <span class="likes-counting">{{ post.likers.count() }}</span>
            </div>
        </div>
    {% endfor %}
</div>
