{% extends "base.html" %}


{% block content %}

<div class="container">
    <div class="user_info text-center">
        <div class="gravatar">
            <img src="{{ user.email | gravatar }}" class="gravatar-img">
        </div>
        <div class="username"><h3>{{ user.name }}</h3></div>
        {% if user.bio %}
            <div class="user_bio"><p>{{ user.bio }}<p></div>
        {% endif %}
        {% if current_user.is_authenticated and user_profile%}
            <a href="{{ url_for('profile_settings', username=user.name) }}">
                change your profile settings
            </a>
        {% endif %}
    </div>

    <div class="text-center"><h1>My posts</h1></div>
        <div class="posts">
            {% for post in user.posts %}
                <div class="post text-center col-xs-12">
                    <div class="post-title">
                        <h1>{{ post.title }}</h1>
                    </div>

                    <div class="post-author">
                        <a href="/u/{{ post.author.name }}">
                            <img class="gravatar-img" src="{{ post.author.email | gravatar(size='40') }}">
                            <h5 style="display:inline-block">{{ post.author.name }}<h5>
                        </a>
                    </div>

                    <div class="post-body col-xs-12">
                        <p>{{ post.body }}</p>
                    </div>
                    <div class="likes">
                        <i class="fa fa-2x fa-heart-o heart"></i>
                        <span class="likes-counting">0</span>
                    </div>
                    <div class="sep"></div>
                </div>
            {% endfor %}
        </div>
</div>

{% endblock %}
