{% extends "user_profile.html" %}

{% block user_content %}
<ul class="nav nav-tabs col-xs-6 col-xs-offset-3 col-md-8 col-md-offset-2">
    <li role="presentation" class="active">
        <a href="{{ url_for('user_profile_posts', username=user.name) }}">
            {{ user.posts.count() }} posts
        </a>
    </li>
    <li role="presentation">

        <a href="{{ url_for('following', username=user.name) }}">
            <!--
                minus one because every user is following himself by deafult
            -->
            {{ user.following.count() - 1}} following
        </a>
    </li>
    <li role="presentation">
        <a href="{{ url_for('followers', username=user.name) }}">
            <!--
                minus one because every user is following himself by deafult
            -->
            {{ user.followers.count() - 1 }} followers
        </a>
    </li>
</ul>

<div class="posts">
    {% for post in posts %}
        <div class="post text-center col-xs-12 col-md-8 col-md-offset-2">
            <div class="post-title">
                <h1>{{ post.title }}</h1>
            </div>

            <div class="post-author">
                <a href="/u/{{ post.author.name }}">
                    <img class="gravatar-img" src="{{ post.author.email | gravatar(size='40') }}" alt="user avatar">
                    <h5 style="display:inline-block">{{ post.author.name }}</h5>
                </a>
            </div>

            <div class="post-body col-xs-12">
                {{ post.body | markdown }}
            </div>
            <div class="likes">
                <i class="fa fa-2x fa-heart-o heart"></i>
                <span class="likes-counting">0</span>
            </div>
            <div class="sep"></div>
        </div>
    {% endfor %}
</div>
{% endblock %}
