/*=======================================
+++++++++++++ General Rules +++++++++++++
=========================================*/

textarea {
    resize: none;
}

li{
    list-style: none;
}

body{
    padding-top: 70px;
}

.hidden{
    display: none;
}

a{
    text-decoration: none !important;
}
/*=======================================
------------- End General Rules ---------
=========================================*/


/*=======================================
+++++++ BootStrap Customization +++++++++
=========================================*/

.navbar{
    background-color: #3D9DE6;
}

.navbar a span{
    color: #fff;
}

.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
}


.icon-bar{
    background-color: #fff !important;
}

.navbar-toggle:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-toggle:focus{
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.nav_ele{
    display: inline-block;
    padding: 10px;
}

.close{
    color: #fff !important;
    opacity: 0.5
}

.close:hover{opacity: 1}

.alert-success{
    background-color: #23c15d !important;
    color: #fff;
}

.alert-danger{
    background-color: #F04124 !important;
    color: #fff;
}

.alert-primary{
    background-color: #3D9DE6 !important;
    color: #fff;
}

.alert-warning{
    background-color: #ffe14e !important;
}
.btn-primary{
    background-color: #3D9DE6 !important;
    border-color: #3D9DE6 !important;
}

.nav-tabs{
    margin-top: 30px !important;
}
/*=======================================
-------- BootStrap Customization --------
=========================================*/


/*=======================================
+++++++ Author Custom Styles +++++++++
=========================================*/

.post{
    padding: 10px;
    word-break: break-all;
}

.post .post-body{
    line-height: 20px;
    font-size: 20px;
    padding-top: 10px;
}


.string-field{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}

.textarea-field{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    border: 1px solid #aaaaaa;
    font-size: 25px;
}

.sep{
    margin: 0 auto;
    background-image: url("../img/sep.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 200px;
    margin-top: 10px;
}

.gravatar-img{
    border-radius: 100%;
}


.heart{
    transition-timing-function: ease-in-out;
    cursor: pointer;
    color: #f91600;
}

.likes-counting{
    color: #f91600;
}

.remember_me{
    margin-top: 20px;
}

.user{
    margin-top: 10px;
    margin-bottom: 50px;
}
/*=======================================
-------- End Author Custom Styles --------
=========================================*/
