textarea {
    resize: none;
}

li{
    list-style: none;
}

body{
    padding-top: 70px;
}

.hidden{
    display: none;
}
.navbar{
    background-color: #3D9DE6;
}

.navbar a span{
    color: #fff;
}

.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
}


.icon-bar{
    background-color: #fff !important;
}

.navbar-toggle:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-toggle:focus{
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.post{
    padding: 10px;
}

.post .post-body{
    line-height: 20px;
    font-size: 20px;
    padding-top: 10px;
}
a{
    text-decoration: none !important;
}

.nav_ele{
    display: inline-block;
    padding: 10px;
}

.string-field{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}

#publish{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    border: 1px solid #aaaaaa;
    font-size: 25px;
}

.sep{
    margin: 0 auto;
    background-image: url("../img/sep.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 200px;
    margin-top: 10px;
}

.flash_msg{
    background-color: #3d9de6;
    height: 40px;
    padding-top: 2px;
}

.flash_msg h5{
    color: #fff;
}

.gravatar-img{
    border-radius: 100%;
}

.btn-primary{
    background-color: #3D9DE6 !important;
    border-color: #3D9DE6 !important;
}

.heart{
    transition-timing-function: ease-in-out;
    cursor: pointer;
    color: #f91600;
}

.likes-counting{
    color: #f91600;
}
