/*=======================================
+++++++++++++ General Rules +++++++++++++
=========================================*/

body{
    background-color: #F2F2F2;
    padding-top: 70px;
}

textarea {
    resize: none;
}

li{
    list-style: none;
}

.hidden{
    display: none;
}

a{
    text-decoration: none !important;
}

form{
    margin: 20px;
}

.form-container{
    height: 350px;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
/*=======================================
------------- End General Rules ---------
=========================================*/


/*=======================================
+++++++ BootStrap Customization +++++++++
=========================================*/

.navbar{
    background-color: #3D9DE6;
}

.navbar a span{
    color: #fff;
}

.navbar a:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
}


.icon-bar{
    background-color: #fff !important;
}

.navbar-toggle:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-toggle:focus{
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.nav_ele{
    display: inline-block;
    padding: 10px;
}

.close{
    color: #fff !important;
    opacity: 0.5
}

.close:hover{opacity: 1}

.alert-success{
    background-color: #23c15d !important;
    color: #fff;
}

.message {
    position: fixed;
    top: 50px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .message{
        width: 100% !important;
    }
}

.alert {
    margin: 0 auto;
}

.flashed-alert{
    position: fixed;
    width: 40%;
    left: 0;
    z-index: 4;
}

.alert-danger{
    background-color: #F04124 !important;
    color: #fff;
}

.alert-primary{
    background-color: #3D9DE6 !important;
    color: #fff;
}

.alert-warning{
    background-color: #ffe14e !important;
}
.btn-primary{
    background-color: #3D9DE6 !important;
    border-color: #3D9DE6 !important;
    border-radius: 0;
}

.btn-success{
    background-color: #23c15d !important;
    color: #fff;
    margin-top: 10px;
    border-radius: 0;
}

.btn-danger{
    background-color: #F04124 !important;
    border-radius: 0;
    margin-top: 10px;
}

.nav-tabs{
    margin-top: 30px !important;
}

.nav-tabs .active a{
    cursor: pointer !important;
    border: none !important;
    background-color: #F2F2F2 !important;
    border-bottom: 3px solid #3D9DE6 !important;
}

.nav-tabs a:hover{
    /* `background-color: none;` is not working and i don't know why
        if you know tell me
    */
    background-color: #F2F2F2 !important;
    border: none !important;
    border-bottom: 3px solid #3D9DE6 !important;
}
/*=======================================
-------- BootStrap Customization --------
=========================================*/


/*=======================================
+++++++ Author Custom Styles +++++++++
=========================================*/

.post{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.post .post-body{
    line-height: 25px;
    font-size: 20px;
    padding-top: 10px;
}

.post-body img{
    width: 100%;
    max-width: 500px;
    padding: 10px;
}

.string-field{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #D0D4D9;
}

.string-field:focus{
    border: 2px solid #3D9DE6;
}

.textarea-field{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    border: 1px solid #D0D4D9;
    font-size: 25px;
}

.textarea-field:focus{
    border: 2px solid #3D9DE6;
}

.submit{
    margin-top: 15px;
}


.gravatar-img{
    border-radius: 100%;
}


.heart{
    transition-timing-function: ease-in-out;
    cursor: pointer;
    color: #f91600;
}

.likes-counting{
    color: #f91600;
}

.remember_me{
    margin-top: 20px;
}

.user{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.preview{
    margin-top: 50px;
    overflow: scroll;
    background-color: #fff;
}

.user_info{
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.user span{
    font-size: 20px;
}

.unconfirmed{
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.user{
    height: 200px;
    border: 1px solid #dedede;
}
/*=======================================
-------- End Author Custom Styles --------
=========================================*/
