{% extends "user_profile.html" %}

{% block user_content %}
{% if followers %}
<ul class="nav nav-tabs col-xs-12 col-md-8 col-md-offset-2">
    <li role="presentation">
        <a href="{{ url_for('posts.user_profile_posts', username=user.name) }}">
            {{ user.posts.count() }} posts
        </a>
    </li>
    <li role="presentation">
        <a href="{{ url_for('users.following', username=user.name) }}">
            <!--
                minus one because every user is following himself by deafult
            -->
            {{ user.following.count() - 1}} following
        </a>
    </li>
    <li role="presentation" class="active">
        <a href="{{ url_for('users.followers', username=user.name) }}">
            <!--
                minus one because every user is following himself by deafult
            -->
            {{ user.followers.count() - 1 }} followers
        </a>
    </li>
</ul>
{% else %}
<ul class="nav nav-tabs col-xs-12 col-md-8 col-md-offset-2">
    <li role="presentation">
        <a href="{{ url_for('posts.user_profile_posts', username=user.name) }}">
            {{ user.posts.count() }} posts
        </a>
    </li>
    <li role="presentation" class="active">
        <a href="{{ url_for('users.following', username=user.name) }}">
            <!--
                minus one because every user is following himself by deafult
            -->
            {{ user.following.count() - 1}} following
        </a>
    </li>
    <li role="presentation">
        <a href="{{ url_for('users.followers', username=user.name) }}">
            <!--
                minus one because every user is following himself by deafult
            -->
            {{ user.followers.count() - 1 }} followers
        </a>
    </li>
</ul>
{% endif %}

{% include "users.html" %}
{% endblock %}
